.remove {
  padding: 10px;
}

.remove__trash-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  filter: invert(34%) sepia(37%) saturate(3739%) hue-rotate(320deg)
    brightness(96%) contrast(95%);
  transition: 200ms opacity ease-in-out;
}

.remove__trash-icon:hover {
  opacity: 0.5;
}

.todo-list__card,
.todo-list__card--completed {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.todo-list__card--completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo-list__card__content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-list__card__text {
  width: 70vw;
  margin-bottom: 8px;
  overflow-y: auto;
}

.todo-list__card__flags {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 28px;
}

.todo-list__card__category,
.todo-list__card__urgent {
  cursor: pointer;
  font-size: 0.8em;
  padding: 3px 8px;
  border-radius: 5px;
  width: fit-content;
  opacity: 1;
  transition: 200ms opacity ease-in-out;
}

.todo-list__card__category:hover,
.todo-list__card__urgent:hover {
  opacity: 0.8;
}

.todo-list__card__urgent {
  background-color: hsl(0, 74%, 85%);
  color: hsl(0, 43%, 46%);
}

.category--trabalho {
  background-color: hsl(246, 74%, 85%);
  color: hsl(246, 43%, 46%);
}

.category--estudos {
  background-color: hsl(120, 73%, 75%);
  color: hsl(120, 48%, 36%);
}

.category--pessoal {
  background-color: hsl(39, 100%, 85%);
  color: hsl(39, 61%, 44%);
}
