.remove {
  padding: 10px;
}

.icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  transition: 200ms opacity ease-in-out;
}

.icon:hover {
  opacity: 0.5;
}

.remove__trash-icon {
  filter: var(--trash-bg);
}

.edit__pencil-icon {
  filter: var(--pencil-bg);
}

.todo-list__card,
.todo-list__card--completed {
  background: var(--card);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.todo-list__card--completed {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo-list__card__content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-list__card__text {
  width: 70vw;
  margin-bottom: 8px;
  overflow-y: auto;
}

.todo-list__card__sort {
  display: flex;
  justify-content: space-between;
}

.todo-list__card__sort__flags {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 28px;
}

.todo-list__card__category,
.todo-list__card__urgent {
  cursor: pointer;
  font-size: 0.8em;
  padding: 3px 8px;
  border-radius: 5px;
  width: fit-content;
  opacity: 1;
  transition: 200ms opacity ease-in-out;
}

.todo-list__card__category:hover,
.todo-list__card__urgent:hover {
  opacity: 0.8;
}

.todo-list__card__urgent {
  background-color: var(--urgent-label-bg);
  color: var(--urgent-label-font);
}

.todo-list__card__category[data-color="trabalho"] {
  background-color: var(--purple-label-bg);
  color: var(--purple-label-font);
}

.todo-list__card__category[data-color="estudos"] {
  background-color: var(--green-label-bg);
  color: var(--green-label-font);
}

.todo-list__card__category[data-color="pessoal"] {
  background-color: var(--yellow-label-bg);
  color: var(--yellow-label-font);
}

.todo-list__card__category[data-color="purple"] {
  background-color: var(--purple-label-bg);
  color: var(--purple-label-font);
}

.todo-list__card__category[data-color="green"] {
  background-color: var(--green-label-bg);
  color: var(--green-label-font);
}

.todo-list__card__category[data-color="yellow"] {
  background-color: var(--yellow-label-bg);
  color: var(--yellow-label-font);
}

.todo-list__card__category[data-color="orange"] {
  background-color: var(--orange-label-bg);
  color: var(--orange-label-font);
}

.todo-list__card__category[data-color="blue"] {
  background-color: var(--blue-label-bg);
  color: var(--blue-label-font);
}

.todo-list__card__category[data-color="pink"] {
  background-color: var(--pink-label-bg);
  color: var(--pink-label-font);
}
