.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2;
  background: rgba(49, 49, 49, 0.8);
}

.add-popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.add-popup__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  background-color: var(--card);
}

.date-picker {
  display: flex;
  gap: 8px;
}

.add-popup__urgent {
  display: flex;
  align-items: center;
}

.add-popup__urgent__label {
  padding: 8px 0;
  margin-right: 7px;
}

.add-popup__submit {
  padding: 12px;
  font-size: 1rem;
}

/* Tablet Styles 768px */

@media (min-width: 768px) {
  .add-popup {
    max-width: 550px;
  }
}
