.themes-popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.themes-popup__body {
  display: flex;
  gap: 12px;
  justify-content: center;
}

/* Tablet Styles 768px */

@media (min-width: 768px) {
  .themes-popup {
    max-width: 550px;
  }
}
