.filter {
  margin-bottom: 20px;
}

.filter__header {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.filter__content {
  display: flex;
  flex-direction: column;
}

.filter__category {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter__manage-category {
  display: flex;
  gap: 8px;
}

.filter__manage-category__add-btn,
.filter__manage-category__remove-btn {
  align-self: flex-start;
  font-size: 0.9rem;
  padding: 6px 10px;
}

.filter__sort__btn {
  margin-right: 10px;
}
