* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: hsl(246, 74%, 85%);
  padding: 30px;
  color: #333;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

button {
  cursor: pointer;
  background-color: #333974;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  opacity: 0.8;
  transition: 300ms opacity ease-in-out;
}

button:hover {
  opacity: 1;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-form {
  padding-bottom: 24px;
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #d9534f;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter,
.search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}
