.app {
  max-width: 600px;
  margin: 0 auto;
  background: #ebdfff;
  padding: 0 12px;
}

@media (min-width: 768px) {
  .app {
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
