.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.divider {
  width: 100%;
  height: 1px;
  background: #555;
  margin-bottom: 20px;
}
