* {
  font-family: "Sour Gummy", sans-serif;
  box-sizing: border-box;
}

body {
  background: #ebdfff;
  color: #6e50a5;
}

@layer helper {
  .no-scroll {
    overflow: hidden;
  }

  .txt-center {
    text-align: center;
  }

  .divider {
    width: 100%;
    height: 4px;
    background: #beabdd;
    margin: 20px 0;
    border-radius: 3px;
  }
}

@layer typography {
  h2,
  h3 {
    margin: 10px 0;
  }

  h3 {
    font-weight: normal;
    font-size: 1rem;
  }

  p {
    margin: 0;
  }
}

@layer button {
  button {
    cursor: pointer;
    background-color: #413374;
    color: white;
    border: none;
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 3px;
    opacity: 0.8;
    transition: 300ms opacity ease-in-out;
  }

  button:hover {
    opacity: 1;
  }
}

@layer checkbox {
  .checkbox {
    cursor: pointer;
    appearance: none;
    margin: 0;
    font: inherit;
    background-color: white;
    color: hsl(246, 74%, 85%);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  .checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #9d82d1;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  .checkbox:checked::before {
    transform: scale(1);
  }

  .checkbox .label {
    padding: 20px;
    background-image: url(./assets/checkbox-unchecked.svg) no-repeat left center;
  }
}

@layer icons {
  .add-icon,
  .close-icon {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: 200ms opacity ease-in-out;
  }

  .add-icon:hover,
  .close-icon:hover {
    opacity: 0.7;
  }

  .add-icon::before,
  .add-icon::after,
  .close-icon::before,
  .close-icon::after {
    content: "";
    position: absolute;
    background-color: #6e50a5;
  }

  /* Vertical bar */
  .add-icon::before {
    width: 3px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Horizontal bar */
  .add-icon::after {
    height: 3px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .close-icon::before {
    width: 3px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotate(45deg);
  }

  .close-icon::after {
    width: 3px;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%) rotate(-45deg);
  }

  .chevron-right:after,
  .chevron-down:after {
    content: " ";
    cursor: pointer;
    display: inline-block;
    border-bottom: 3px solid #6e50a5;
    border-right: 3px solid #6e50a5;
    height: 10px;
    width: 10px;
  }

  .chevron-right,
  .chevron-down {
    opacity: 1;
    transition: 200ms opacity ease-in-out;
  }

  .chevron-right:hover,
  .chevron-down:hover {
    opacity: 0.7;
  }

  .chevron-right:after {
    transform: rotate(-45deg);
  }

  .chevron-down:after {
    transform: rotate(45deg);
  }
}

.input {
  padding: 8px;
  border: 1px solid #9d82d1;
  border-radius: 8px;
  font-size: 1em;
  width: 100%;
}

/* Tablet Styles 768px */

@media (min-width: 768px) {
  body {
    background: hsl(246, 74%, 85%);
    padding: 30px;
  }
}
