.app {
  max-width: 600px;
  margin: 0 auto;
  background: var(--bg);
  padding: 0 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .app {
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}
