.themes-popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.themes-popup__body {
  display: flex;
  gap: 12px;
  justify-content: center;
}
